body {
    background-image: url("bgimage.webp");
    background-position: center;
    background-size: 90% 100%;
    background-repeat: no-repeat;
}

h1 {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
}

p {
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 10px;
}

/* CLASS SELECTOR */
.first {
    color: blue;
    text-decoration: line-through;
}

/* ID SELECTOR */
#second {
    background-color: coral;
}

/* BORDER FIXED HERE */
.section {
    border: 5px solid saddlebrown;
    border-radius: 40px;
}
